.driver-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 20em;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;


}

.driver-card-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    max-width: 120em;
    margin: 0 auto;
    -ms-grid-column-align: center;
    grid-column: auto;
    justify-content: center;
    justify-items: center;
    gap: 40px;
}

.driver-race-grid-main {
}

.driver-team {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.driver-name {
    color: white;
}

.driver-number {
    color: white;
    font-size: 3em;
    font-style: italic;
}




