.driver-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: min-content;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;

}

.driver-card-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    max-width: 120em;
    margin: 0 auto;
    -ms-grid-column-align: center;
    grid-column: auto;
    justify-content: center;
    justify-items: center;
    gap: 40px;
}

.driver-race-grid-main {
}

.driver-team {
    color: white;
    padding: 20px;
    border-radius: 10px;
}

